services:
  oracle-db:
    image: container-registry.oracle.com/database/free:latest
    container_name: oracle-db
    ports:
      - "1521:1521"
    environment:
      - ORACLE_PASSWORD=#password#
    volumes:
      - oracle_data:/opt/oracle/oradata

volumes:
  oracle_data: